%div.container-fluid.symbit-highlighter
  %h2 Symbit
  %hr/
  = link_to 'Code Syntax Highlighter', 'highlighter'

  %div.container-fluid
    %hr/
    Github
    = link_to 'https://github.com/captainmarkos/symbit', 'https://github.com/captainmarkos/symbit'

    %br/
    Syntax highlighting thanks to
    = link_to 'https://github.com/jneen/rouge', 'https://github.com/jneen/rouge'

    %div{ style: 'margin: 8px 0 8px 0;' }
