= javascript_include_tag 'yodatepicker/dist/yodatepicker.js'
- # To load the file assets/javascripts/yodatepicker/dist/yodatepicker.js

:javascript

  $(document).ready(function() {

    var activity_calendar = yodatepicker({
        dp_id_name: 'dp_activity_calendar',
        id_name: 'activity_datepicker',
        months_to_display: 1,
        use_date_range: false,
        dow_heading: 'short_name',
        close_onselect: false,
        min_date: new Date(),
        max_date: '1Y',
        locale: 'en',

        // navigation arrow icons and colors
        prev_fa_class: 'fa fa-chevron-left',
        next_fa_class: 'fa fa-chevron-right'
    });

    activity_calendar.show();

  });

%div.container-fluid.symbit-highlighter
  %center
    %h2 Yodatepicker
    %p Pure Javascrpt Datepicker / Calendar
    %p Yay for fun stuff!
  %hr/

  %div.container-fluid
    %div#dp_activity_calendar
    %br/
    %div
      Select a Date:
      = text_field_tag 'activity_datepicker'

  %div.container-fluid
    %hr/
    Github
    = link_to 'https://github.com/captainmarkos/yodatepicker', 'https://github.com/captainmarkos/yodatepicker'
